
.center{
    position:absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -250px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    font-family: helvetica;
}

.fillScreen{
    background-color:#ffffff;
    position:absolute;   
    width: 100%;
    height:auto;
    bottom: 0px;
    top: 0px;
    left: 0;
}

.logo{
 text-align:center;
 width: 340px;
}
